<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
    <title>Freemage - Image Hoster</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/general.css">
</head>

<body>

    
    <%- include('../ssi/popupModal.ejs') %>
    
    <%- include('../ssi/navbar.ejs') %>


    <main class="bg-white">

        <div class="container my-5">
            <div class="row">
                <div class="col-lg-6">
                    <h1>About Us</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae sagittis justo, non mattis
                        elit.
                        Nunc lobortis est id tellus lobortis, eu accumsan metus faucibus. Sed non purus rhoncus,
                        consequat
                        ex id, feugiat ex.</p>
                    <p>Nullam in tellus lacinia, consequat magna vel, cursus dui. Nullam pharetra varius arcu ac
                        aliquam.
                        Donec blandit varius justo, a tincidunt nunc congue sit amet. Suspendisse potenti. Integer
                        gravida
                        elit ut tellus faucibus, eu viverra lacus pretium.</p>
                </div>
                <div class="col-lg-6 text-center">
                    <img src="./assets/logo.png" alt="Logo" class="img-fluid">
                </div>
            </div>
        </div>

    </main>



    <%- include('../ssi/footer.ejs') %>



    <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>