<footer class="footer bg-light mt-auto p-2">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="text-decoration-none" href="/"><i class="bi bi-house"></i>
                            Home</a></li>
                    <li class="list-inline-item"><a class="text-decoration-none" href="/about"><i
                                class="bi bi-info-circle"></i> About Us</a></li>
                    <li class="list-inline-item"><a class="text-decoration-none" href="/about"><i class="bi bi-tools"></i>
                            Services</a></li>
                </ul>
            </div>
            <div class="col-lg-6">
                <p>&copy; 2023 Freemage Hosting. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>