
<div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
    <div id="uploading-progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%">
    <p class="p-0 m-0 fw-bold"></p>
    </div>
</div>
<script>
    function updateLoadingBarProgress(progress) {
        const progressBar = document.getElementById('uploading-progress-bar');
        const progressLabel = progressBar.querySelector('p');
        progressBar.style.width = progress + '%';
        progressLabel.textContent = progress + '%';
        
        console.log(progress)
    }
    updateLoadingBarProgress(0); 
</script>