<nav class="navbar navbar-expand-lg navbar bg-light sticky-top">
<div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
        <img src="./assets/logo.png" alt="Logo" height="60" class="me-2">
        <h1 class="navbar-text m-0">Freemage Hosting</h1>
    </a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="nav collapse navbar-collapse justify-content-end input-group" id="navbarNav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="./about">About</a>
    </nav>
</div>
</nav>